.entitlement-function-wrapper {
	display: grid;
	grid-template-rows: auto 1fr;
	align-items: start;
}

.task {
	display: grid;
	grid-template-columns: 1fr auto 1fr auto;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	justify-self: top;
	margin-bottom: 10px;
}

.entitlements-table {
	margin-top: 10px;
}

.entitlements-table-record {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
}

.application {

}

.entitlement {

}

.functions {

}