---
broadpage: Administration
specificpage: Tasks
layout: default
irmuser: admin
irmrole: IRM Administrator
icon: compare_arrows
heading: SOD Rules
---

<div class="d-flex flex-column">
	<div class="d-flex add-task-button">
		<div class="col-2">
			Import SOD Rules
		</div>
		<div class="input-group mb-3 col-6">
		  <div class="custom-file">
		    <input type="file" class="custom-file-input" id="inputGroupFile02">
		    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
		  </div>
		  <div class="input-group-append">
		    <span class="input-group-text" id="inputGroupFileAddon02">Import</span>
		  </div>
		</div>
	</div>
	<div class="d-flex irm-border" style="background-color: #f2f3f2; margin: -1px -1px -1px -1px">
		<div class="d-flex irm-border" style="border-radius: 20px; margin: 10px;background-color: white;">
			<div class="task-logo material-icons md-24 align-self-end">search</div>
			<input type="text" class="border-0 mr-5" placeholder="Search...">			
		</div>
	</div>
	<div class="d-flex" style="border: 1px solid #dddddd; margin: 0px -1px -1px -1px">
		<div class="d-flex flex-column col-3 px-0" style="height: 600px;;background-color: #f2f3f2;">
			<div class="d-flex users-side-bar-link irm-border" style="height: 75px; margin: -1px">
				<div class="col-10"><a href="#">Everyone</a></div>
				<div class="col-2">9857</div>
			</div>
			<div class="d-flex flex-column irm-border" style="height: 150px; margin: 0px -1px -1px -1px">
				<div class="users-side-bar-heading">Risky Access</div>
				<div class="d-flex users-side-bar-link">
					<div class="col-10"><a href="#">High</a></div>
					<div class="col-2">87</div>					
				</div>
				<div class="d-flex users-side-bar-link">
					<div class="col-10"><a href="#">Medium</a></div>
					<div class="col-2">54</div>					
				</div>
			</div>
			<div class="d-flex flex-column irm-border" style="height: 375px; margin: 0px -1px -1px -1px">
				<div class="users-side-bar-heading">Critical Access</div>
				<div class="d-flex users-side-bar-link">
					<div class="col-10"><a href="#">SAP</a></div>
					<div class="col-2">12</div>					
				</div>
				<div class="d-flex users-side-bar-link">
					<div class="col-10"><a href="#">Oracle EBS</a></div>
					<div class="col-2">05</div>					
				</div>
			</div>
		</div>
		<div class="d-flex flex-column col-9 px-0">
			<div class="d-flex" style="border: 1px solid #dddddd; height: 50px;background-color: #f2f3f2; margin: -1px -1px 0px 0px">
				<div class="d-flex flex-column col-4 irm-header">
					<div class="irm-header lowpadding">
						Risk and Business Process
					</div>
				</div>
				<div class="col-8 irm-header irm-border-left">Functions & Business Process</div>
			</div>
			{% for rule in site.data.sodrules %}
			<div class="d-flex irm-border-bottom">
				<div class="col-4 d-flex flex-column">
					<div class="irm-data">{{ rule.name }}</div>
					<div class="irm-data">({{ rule.businessprocess }})</div>
				</div>
				<div class="d-flex flex-column col-8 irm-data">
					<div class="d-flex">
						<div class="irm-data col-6"><a href="" data-toggle="modal" data-target="#Function">{{ rule.function1 }}</a></div>
						<div class="irm-data col-6">{{ rule.f1bp }}</div>
					</div>
					{% if rule.function2 %}
					<div class="d-flex">
						<div class="irm-data col-6"><a href="" data-toggle="modal" data-target="#Function">{{ rule.function2 }}</a></div>
						<div class="irm-data col-6">{{ rule.f2bp }}</div>
					</div>
					{% endif %}
					{% if rule.function3 %}
					<div class="d-flex">
						<div class="irm-data col-6"><a href="" data-toggle="modal" data-target="#Function">{{ rule.function3 }}</a></div>
						<div class="irm-data col-6">{{ rule.f2bp }}</div>
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}		
  <div class="modal" id="Function" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title">Function Permissions</h5>
        </div>
        <div class="modal-body">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Application</th>
			      <th scope="col">Type</th>
			      <th scope="col">Entitlement Value</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>SAP ECC</td>
			      <td>SAP Role</td>
			      <td>Account Payable</td>
			    </tr>
			    <tr>
			      <td>SAP ECC</td>
			      <td>Permission</td>
			      <td>F_AVIK_BUK:ACTVT:01</td>
			    </tr>
			    <tr>
			      <td>SAP ECC</td>
			      <td>Permission</td>
			      <td>F_AVIK_BUK:BUKRS:$BUKRS</td>
			    </tr>
			  </tbody>
			</table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>  

		</div>
	</div>
</div>