<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IRM</title>
    <link rel="stylesheet" type="text/css" href="css/css-grid-irm.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  </head>
  <body>
    <div class="wrapper-spaces-side">
      <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"><img src="/Greenlight-logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Directory
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="identity-list.html">Users</a>
                  <a class="dropdown-item" href="entitlements-list.html">Entitlements</a>
                </div>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Applications
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="applications-list.html">Applications</a>
                  <a class="dropdown-item" href="auth-source-list.html">Authoritative Source</a>
                </div>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Security
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="import-sod-rules.html">Import SOD Rules</a>
                  <a class="dropdown-item" href="sod-rules.html">SOD Rules</a>
                  <a class="dropdown-item" href="all-users-all-risks.html">All Users, All Risks</a>
                  <a class="dropdown-item" href="new-all-users-all-risks.html">Can Do</a>
                  <a class="dropdown-item" href="mitigations.html">Mitigation Controls</a>
                </div>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tasks
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="tasks.html">Scheduled Tasks</a>
                </div>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="uncorrelated-auth-source-accounts.html">Uncorrelated Accounts</a>
                </div>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="identity-profile.html">Identity Profile</a>
                  <a class="dropdown-item" href="account-profile.html">Account Profile</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>        
      </div>
      <div class="heading">
        <div>
          <i class="material-icons md-32 c5e5e5e">
            {{ page.icon }}
          </i>
        </div>
        <div class="heading-title"><h4>
          {{ page.heading }}
        </h4></div>        
      </div>
      <div class="content">
        {{ content }}
      </div>        
    </div>
  <div class="modal" id="syncTask" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title">Add Task</h5>
        </div>
        <div class="modal-body">
      <div>
        <div class="label-and-input-box">
          <div>
            Task Name
          </div>
          <div>
            <input type="text" class="form-control" placeholder="Account Aggregation for Oracle EBS">
          </div>
        </div>
        <div class="label-and-input-box">
          <div>
            Task Type
          </div>
          <div>
            <select class="custom-select">
              <option selected>Account Aggregation</option>
              <option>Entitlement Aggregation</option>
            </select>       
          </div>
        </div>
        <div class="label-and-input-box">
          <div>
            Application
          </div>
          <div>
            <select class="custom-select">
              <option>SAP ECC</option>
              <option selected>Oracle EBS</option>
            </select>       
          </div>
        </div>
        <div class="mt-3">
            <h6>Frequency</h6>          
        </div>
        <div class="manage-password mt-0">
          <div>
            <div class="d-inline">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Mon</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Tue</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Wed</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Thu</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Fri</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Sat</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Sun</span>            
            </div>
            <div>
              <div class="input-group my-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Time</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">12:00 am</option>
                  <option value="3">01:00 am</option>
                  <option value="3">02:00 am</option>
                  <option value="1">03:00 am</option>
                  <option value="3">04:00 am</option>
                  <option value="3">05:00 am</option>
                  <option value="3">06:00 am</option>
                </select>
              </div>              
            </div>              
          </div>
        </div>
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="closeModal('tasks-add-task.html')">Save changes</button>
        </div>
      </div>
    </div>
  </div>  
  <div class="modal" id="SOD" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title">Add SOD Task</h5>
        </div>
        <div class="modal-body">
      <div>
        <div class="label-and-input-box">
          <div>
            Task Name
          </div>
          <div>
            <input type="text" class="form-control" placeholder="SOD for Business Process Procure to Pay">
          </div>
        </div>
        <div>
            <h6>Filters</h6>          
        </div>
        <div class="manage-password mt-0">
          <div class="label-and-input-box">
            <div>
              Application
            </div>
            <div>
              <select class="custom-select">
                <option>SAP ECC</option>
                <option selected>Oracle EBS</option>
              </select>       
            </div>
          </div>
          <div class="label-and-input-box">
            <div>
              Business Process
            </div>
            <div>
              <select class="custom-select">
                <option>Order to Cash</option>
                <option selected>Procure to Pay</option>
              </select>       
            </div>
          </div>
          <div class="label-and-input-box">
            <div>
              Supervisor
            </div>
            <div>
              <select class="custom-select">
                <option>John Doe</option>
                <option selected>Mary White</option>
              </select>       
            </div>
          </div>
          <div class="label-and-input-box">
            <div>
              User
            </div>
            <div>
              <select class="custom-select">
                <option>David Crow</option>
                <option selected>Elvira Echeverria</option>
              </select>       
            </div>
          </div>

        </div>
        <div class="mt-1">
            <h6>Frequency</h6>          
        </div>
        <div class="manage-password mt-0">
          <div>
            <div class="d-inline">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Mon</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Tue</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Wed</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Thu</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Fri</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Sat</span>            
            </div>
            <div class="d-inline pl-3">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <span>Sun</span>            
            </div>
            <div>
              <div class="input-group my-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Time</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">12:00 am</option>
                  <option value="3">01:00 am</option>
                  <option value="3">02:00 am</option>
                  <option value="1">03:00 am</option>
                  <option value="3">04:00 am</option>
                  <option value="3">05:00 am</option>
                  <option value="3">06:00 am</option>
                </select>
              </div>              
            </div>              
          </div>
        </div>
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="closeModal('tasks-add-task.html')">Save changes</button>
        </div>
      </div>
    </div>
  </div>  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="js/tasks-2.js"></script>
  </body>
</html>